
.form-control:focus {
    box-shadow: none;
    border-color:#67bbe4c7
}

.profile-button {
    background: #67bae47e;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #67bbe4c7
}

.profile-button:focus {
    background: #67bbe4c7;
    box-shadow: none
}

.profile-button:active {
    background: #67bbe4c7;
    box-shadow: none
}

.back:hover {
    color: #67bbe4c7;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #67bbe4c7;
    color: #fff;
    cursor: pointer;
    border: solid 1px #67bbe4c7
}
.profile{
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/04/04bd376957afb858a0625b76a7fced19.jpeg");
    width: 100%;
    height: 750px;
    opacity: 0.9;
   
       }
